<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body >
    <header class="p-3 mb-3 border-bottom" >
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><img src="https://cdn-icons-png.flaticon.com/512/2094/2094141.png" alt="mdo" width="32" height="32" class="rounded-circle"></li>
          <li><a href="http://localhost:8081/home" class="nav-link px-2 link-dark">Home</a></li>
          <li><a href="http://localhost:8081/produtos" class="nav-link px-2 link-dark">Produtos</a></li>
          <li><a href="http://localhost:8081/simular" class="nav-link px-2 link-dark">Simular venda</a></li>
          <li><a href="http://localhost:8081/ultimosPedidos" class="nav-link px-2 link-dark">Ultimos pedidos</a></li>
          <li><a href="http://localhost:8081/pedidos" class="nav-link px-2 link-dark">Acompanhar pedidos</a></li>
        </ul>


        <div class="dropdown text-end">

    
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  
  <main>
      <div class="container">
         <center>
          <img src="https://www.proteste.org.br/-/media/proteste/images/home/seus-direitos/loja-de-moveis.jpg?rev=7614e831-12f6-491d-be33-e7f096a1e392" class="img-fluid" width="80%" height="auto">
          <h1>Pegorin Móveis</h1>
          </center>
          <p align="justify">Nós da loja Pegorin Móveis visamos promover a melhor experiência ao cliente, providenciando um ambiente aconchegante e harmonioso. Sempre com profissionais e estilistas ao dispor para ajudá-los em suas vendas.
          </p>
           <p align="justify">
            Podem entrar em contato conosco pelo número: +55 (14) 99807-7944. Pelo email otavio.pegorin@lecom.com.br. Nossa instalação fica no Brasil em São Paulo, cidade de Itaju, Rua Miguel Braz Arroteia número 59. CNPJ: 67.752.873/1445-65.</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3699.706646512755!2d-48.79986531131854!3d-21.98421915746067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bf36a819d6e807%3A0x65e1c7532088326a!2zMjHCsDU5JzA1LjQiUyA0OMKwNDgnMDAuNSJX!5e0!3m2!1spt-BR!2sbr!4v1636156778335!5m2!1spt-BR!2sbr" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
  </main>
</body>
</html>